body {
    /*background-color: #7FE2E5;*/
    background-image: linear-gradient(to bottom right, #7FE2E5, #00FF6E);
    /*font-family:*/
}

h1{
    text-align: center;
}

#gradbackground {
    background-color: #7FE2E5;
    background-image: linear-gradient(to bottom right, #7FE2E5, #00FF6E);
}
.container {
    background: linear-gradient(to bottom, #ff0000, #0000ff);
    height: 100vh; /* Set container to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }