body {
    background: rgb(127,226,229);
    background: linear-gradient(108deg, rgba(127,226,229,1) 0%, rgba(0,255,255,1) 35%, rgba(0,255,110,1) 100%); 
    font-family: KaushanScript-Regular;
    src: url(../assets/font/KaushanScript-Regular.ttf) format("truetype");
}

h1{
    text-align: center;
}

#gradbackground {
    background-color: #7FE2E5;
    background-image: linear-gradient(to bottom right, #7FE2E5, #00FF6E);
}
.container {
    background: linear-gradient(to bottom, #ff0000, #0000ff);
    height: 100vh; /* Set container to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plugin-file-cover {
    width: 1920px;
    height: 1080px;
    background-color: #ffffff;
  }
  
  .plugin-file-cover .overlap-group {
    position: relative;
    width: 148px;
    height: 119px;
    top: 445px;
    left: 652px;
    /*background-image: url(./img/vector-3.svg);*/
    background-size: 100% 100%;
  }
  
  .plugin-file-cover .vector {
    position: absolute;
    width: 137px;
    height: 97px;
    top: 11px;
    left: 7px;
  }